{% extends "base.html" %}

{% block main %}
  <p class="h3">Book detail</p>
  <div class="lead">
    <p>You're browsing <i><strong>{{ book.title}}</strong> by <a href="{% url 'author_detail' book.author.id %}">{{ book.author.name}}</a>.</i> (<i class="fa fa-star"></i> {{ book.popularity }})</p>
    <p>Other books by the same author includes:</p>
    <ul>
      {% for book in book.author.book_set.all %}
      <li>{{ book.title }} ({{ book.popularity }})</li>
      {% endfor %}
    </ul>
  </div>
  <a href="/authors"><button type="button" class="btn btn-outline-primary">← Back</button></a>
{% endblock %}
